<div class="portfolio">
    <div class="flex-container">
        <div class="flex-item">
             <div class="image-wrapper">
             <a class="nostyle" href="https://learn.microsoft.com/en-us/training" alt="Microsoft Training"><img src="/assets/images/website/microsoft.svg" alt="microsoft.svg"></a>
             </div>
             <figcaption>Microsoft offers their self-paced technical training, including learning labs, for free online to everyone. Certification tests and instructor-led training are available but are not free.</figcaption>
        </div>
        <div class="flex-item">
            <div class="image-wrapper">
            <a class="nostyle" href="https://portal.azure.com/" alt="Microsoft Azure"><img src="/assets/images/website/azure.svg" alt="azure.svg"></a>
            </div>
            <figcaption>Microsoft Azure is a cloud computing platform which offers access, management, and development of applications and services through global data centers.</figcaption>
        </div>
        <div class="flex-item">
            <div class="image-wrapper">
            <a class="nostyle" href="https://training.apple.com/it" alt="Apple"><img src="/assets/images/website/apple.svg" alt="apple.svg"></a>
            </div>
            <figcaption>Apple offers their technical training for free online to everyone. Certification tests are available but are not free. There are considerably fewer training offerings, when compared to Microsoft.</figcaption>
        </div>
        <div class="flex-item">
            <div class="image-wrapper">
        <a class="nostyle" href="https://kernel.org/" alt="Offcial Site for Linux OS"><img src="/assets/images/website/linuxtux.gif" alt="Linux"></a>
            </div>
            <figcaption>The Linux Kernel Organization is managed by The Linux Foundation, which provides full technical, financial and staffing support for running and maintaining the kernel.org infrastructure.</figcaption>
        </div>
        <div class="flex-item">
  <div class="image-wrapper">
   <a class="nostyle" href="https://www.raspberrypi.com/" alt="Raspberry Pi Official Website"><img src="/assets/images/website/raspberrypi.png" alt="raspberrypi.png"></a>
  </div>
        <figcaption>Raspberry Pi have all the features required for computing: WIFI, Bluetooth, HDMI, USB, along with ample processing power and RAM.</figcaption>
        </div>
<div class="flex-item">
  <div class="image-wrapper">
   <a class="nostyle" href="https://login.ubuntu.com/" alt="Ubuntu Linux OS"><img src="/assets/images/website/ubuntu.svg"  style="width: 150px; height: auto;" alt="ubuntu.svg"></a>
  </div>
  <figcaption>Ubuntu is my preferred Linux distribution for a desktop OS. It is well maintained and the documentation and tutorials are plentiful. Pro subscriptions are available for free for personal use.</figcaption>
</div>
<div class="flex-item">
  <div class="image-wrapper">
   <a class="nostyle" href="https://access.redhat.com/" alt="Red Hat Enterprise Linux"><img src="/assets/images/website/redhat.png" alt="redhat.png"></a>
  </div>
  <figcaption>Red Hat Enterprise Linux is my preferred choice as a server OS. They are the maintainers of Ansible, an open-source solution that I have used for endpoint configuration of Linux devices and servers.</figcaption>
</div>
<div class="flex-item">
  <div class="image-wrapper">
   <a class="nostyle" href="https://learn.microsoft.com/en-us/windows/wsl/about" alt="Windows Subsystem for Linux"><img src="/assets/images/website/wsl2.png" alt="wsl2.png"></a>
  </div>
  <figcaption>The Windows Subsystem for Linux lets developers run a GNU/Linux environment -- including most command-line tools, utilities, and applications without the overhead of a traditional virtual machine.</figcaption>
</div>
      <div class="flex-item">
        <div class="image-wrapper">
        <a class="nostyle" href="https://github.com" alt="Github"><img src="/assets/images/website/github-logo.png" alt="github-logo.png"></a>
        </div>
        <figcaption>Github is my current preferred choice for git repositories. It is simple to use, has straightforward tutorials, and has high availability. Github Pages is where this website is hosted.</figcaption>
    </div>
   <div class="flex-item">
             <div class="image-wrapper">
             <a class="nostyle" href="https://www.jamf.com/" alt="JAMF Mac Endpoint Management"><img src="/assets/images/website/jamf.jpg" alt="jamf.jpg"></a>
             </div>
            <figcaption>JAMF provides a complete enterprise management and security solution for Apple devices. Both on-premise and cloud solutions are available. Easy to manage and enterprise-secure.</figcaption>
        </div>
<div class="flex-item">
  <div class="image-wrapper">
   <a class="nostyle" href="https://discord.com/" alt="Discord Website"><img src="/assets/images/website/discord.png" alt="Discord"></a>
  </div>
  <figcaption>Discord is a social-media collaboration platform with servers organized into channels by topic. Collaborate and communicate with instant messaging, VOIP, and video chats.</figcaption>
</div>     
<div class="flex-item">
  <div class="image-wrapper">
   <a class="nostyle" href="https://badgecert.com/bc/html/groupbadges.html?k=R3NJUUdoakdvSVZEY2l0ZHZ6SU5kams0cTkybW0yb2Q" alt="Scrum Alliance Certification"><img src="/assets/images/website/seal-csm.png" alt="seal-csm.png"></a>
  </div>
    <figcaption>I am a Certified ScrumMaster® (CSM®), the certification was acquired through the Scrum Alliance. You can click the link above to confirm the status of the certification.</figcaption>
</div> 
        <div class="flex-item">
            <div class="image-wrapper">
             <a class="nostyle" href="https://www.itpro.tv/" alt="ITV Pro"><img src="/assets/images/website/acilearning.png" alt="acilearning.png"></a>
            </div>
            <figcaption>ACI Learning is another training resource I use. ACI Learning courses are broken down into half-hour, self-contained chunks. Much more engaging than other training options and the have apps for most devices, including Apple tvOS.</figcaption>
        </div>
<div class="flex-item">
  <div class="image-wrapper">
   <a class="nostyle" href="https://www.linkedin.com/learning" alt="LinkedIn Learnig"><img src="/assets/images/website/linkedin.webp" alt="linkedin.webp"></a>
  </div>
  <figcaption>LinkedIn Learning offers the widest range of offerings of any service, from technical to business. LinkedIn Learning is a great place to find training for your supported users when introducing or migrating to a new service.</figcaption>
</div>
<div class="flex-item">
  <div class="image-wrapper">
   <a class="nostyle" href="https://www.lpi.org/" alt="Linux Professional Institute"><img src="/assets/images/website/lpi-logo.png" alt="lpi-logo.png"></a>
  </div>
  <figcaption>Linux Professional Institute is the largest vendor-neutral Linux and open source certification body. Some classes are free to everyone and others require a fee. Certification tests are available for a fee.
  </figcaption>
</div>
<div class="flex-item">
  <div class="image-wrapper">
   <a class="nostyle" href="https://www.stormwindstudios.com/" alt="Stormwind Studios"><img src="/assets/images/website/stormwind.png" alt="stormwind.png"></a>
  </div>
  <figcaption>Stormwind Studios is a training resource I use to maintain my skill set and knowledge base. They provide live and on-demand bootcamp courses from wide-range of vendors.</figcaption>
</div>
 <!-- Repeat this structure for additional images -->
</div> 
</div>